# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Test / coverage
*.test
coverage.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Go
vendor/
go.work
go.work.sum

# OS
.DS_Store
Thumbs.db

# Local env
.env
.env.local
*.local
# Other dir
myclush/
fakefs2/
test_mpi_app/
log/
